Package: titan-plugin-network-networkbrowser
Version: 21579
Description: Networkbrowser scanning an manage cifs/nfs/ftp shares.
Section: network
Architecture: sh4
Titanname: Networkbrowser
Showname: Networkbrowser
Installpath: /var