Package: titan-plugin-infos-imdb
Version: 21579
Architecture: sh4
OE: KeyLock
Section: infos
Priority: optional
Maintainer: Atemio
Homepage: http://www.atemio.de
Source: obi by AAF 
Description: ImdB Info Plugin
Titanname: IMDb
Showname: IMDb
Installpath: /var