Package: titan-plugin-player-mediacenter
Architecture: mipsel
Showname: Mediacenter
Version: 32273
Section: player
Description: Atemio MediaCenter the best multimedia Player on sh4.
Group: 0
Minversion: 32072
Preinstalled: 0
Size: 5
Titanname: *
Usepath: *
Boxtype: *
Installpath: /var