Package: titan-plugin-tools-filemanager
Architecture: mipsel
Showname: File Manager
Version: 32273
Section: tools
Description: filemanager
Group: 0
Minversion: 32072
Preinstalled: 0
Size: 29
Titanname: File Manager
Usepath: *
Boxtype: *
Installpath: /var