Package: titan-plugin-wireless-rt5370sta
Version: 21594
Architecture: sh4
OE: stopifnotused
Section: wireless
Priority: optional
Maintainer: Atemio
Homepage: http://www.atemio.de
Source: git
Description: wireless modul rt5370sta.ko
Showname: Wlan rt5370sta
Installpath: /var
