Package: titan-plugin-tools-keylock
Version: 0.1
Architecture: armv7
Section: tools
Description: Tastensperre Plugin - entsperren mit rot/rot/gruen
Titanname: KeyLock
Minversion: 0.1
Showname: KeyLock
