Package: titan-plugin-wireless-rt3070sta
Version: 21594
Architecture: sh4
OE: stopifnotused
Section: wireless
Priority: optional
Maintainer: Atemio
Homepage: http://www.atemio.de
Source: git
Description: wireless modul rt3070sta.ko
Showname: Wlan rt3070sta
